<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <withJansi>true</withJansi>
    <encoder>
      <pattern>%highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%highlight(%-5level) %cyan(%logger{15}) - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDERR" />
  </root>

  <!--
  <logger name="org.jboss.set.mavendependencyupdater" level="DEBUG" />
  <logger name="org.apache" level="WARN" />
  <logger name="httpclient.wire" level="WARN" />
  <logger name="com.jayway.jsonpath.internal.JsonContext" level="WARN" />
  <logger name="org.commonjava.util.jhttpc" level="WARN" />
  <logger name="org.commonjava.maven.galley" level="WARN" />
  -->
</configuration>
